<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>🎙 News Flow 📡</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <style>
        .newsLine {
            color: aliceblue;
            border-radius: 30px;
            width: 95%;
            padding-left: 4%;
        }

        ol {
            color: black;
        }

        p {
            margin-bottom: 0;
        }

        a {
            color: aliceblue;
        }

        .headlineField {
            color: red;
            font-size: 22px;
            text-shadow: 2px 2px 4px #000000;
        }

        .linkField {
            color: purple;
            font-size: 14px;
            margin: auto;
        }

        body {
            background-color: rgba(0, 0, 0, 0.719);
            background-image: url("../../public/images/countryside.jpg");
            font-family: 'IM Fell English SC', serif;
        }

        .jumbotron {
            background-color: ;
        }
        .summary{
            font-size: 18px;
        }
        .commentsContainer {
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <div class="container innerTitle bg-info p-3">
                <h1 class="display-5">🎙NewsFlow🎙</h1>
                <h2>A website scraping current news platform</h2>
                <p class="lead">Find current news & leave a comment.</p>
            </div>
        </div>
 <form action="/" method="GET">
        <button class="btn btn-danger save mt-5 mb-0">Scrape for new articles
        </button>
    </form>
    </div>

    {{{ body }}}






</body>

</html>